@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
display:flex;
align-items:center;
justify-content:center;
min-height: 100vh;
background:#4caca7;
font-family:'Roboto',sans-serif;
}

section.chat__section{
    width:800px;
    max-width: 90%;
    background:rgb(229, 231, 116);
    box-shadow:#e24848;
    
}
.brand{
    padding:20px;
    background:rgb(255, 255, 255);
    display:flex;
    align-items:center;
}
.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color:#444;
    margin-left: 10px;
}
.message__area{
    height:500px;
    padding:16px;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    padding-top:40px;

}
textarea{
    width:100%;
    border:none;
    padding:20px;
    font-size:16px;
     outline:none;
     background:#F8F8F8;

}
.message{
    padding:20px;
    border-radius:4px;
    margin-bottom:40px;
    max-width:300px;
    position:relative;

}
.incoming{
    background:#a12424;
    color:rgb(255, 255, 255);

}
.outgoing{
    background:#4a52dd;
    color:#ffffff;
    margin-left:auto;

}
.message h4{
    position:absolute;
    top:-20px;
    left:0;
    color:#333;
    font-size:14px;
}